body{
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

scroll-view,.scroll-view{
    display:flex;
}
.scroll-content{
    display:flex;
    flex:1;
    overflow:auto;
}

text{
    padding: .125em;
    line-height: 2.5;
}

padding{
    display: block;
}
padding[top]{
    padding-top:1em;
}
padding[both]{
    padding-left:1em;
    padding-right: 1em;
}
padding[bottom]{
    padding-bottom:1em;
}


table.fund{
    border: 1px solid #efefef;
    border-collapse: collapse;
    margin:0 auto;
    overflow: auto;
}
table.fund th,
table.fund td{
    border: 1px solid #efefef;
    white-space: nowrap;
    padding: 4px 0.75em;
}


fund{
    display:block;
    min-width:800px;
    max-width:1920px;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    border: 1px solid #efefef;
    border-radius: 6px;
}
fund table.fund{
    border-left:none;
    border-right:none;
}
fund text{
    background-color: #efefef;
    text-indent: 1em;
}

